bin/*
obj/*

*.so
*.so.dSYM
*.dylib
*.o
bk.*
fort.*

*.bst
*.out
*.out.*

*.amp
*.cor
*.icc
*.nor
*.err
*.map

Examples/SimulateAndFit/gosia
Examples/SimulateAndFit/ReadGOSIA
Examples/SimulateAndFit/SimulatedData_Kr80.txt
Examples/SimulateAndFit/SimulatedData_Pt196.txt

*~
\#*\#
.\#*